body {
  height: unset;
}

#main {
  position: block;
  height: 100vh !important;
  padding-top: 0 !important;
  overflow-y: hidden !important;
  overflow-x: scroll;
}

.grid {
  height: 100% !important;
  max-height: 100% !important;
  padding-top: 0 !important;
  display: flex;
  justify-content: left;
  width: fit-content !important;
  overflow-y: hidden !important;
}

.module {
  width: max-content !important;
}
